:root {
    --main-color: rgba(19, 19, 31, 0.98);
    --accent-color: #0EA5E9;

    --background-color: #171B24;
    --section-color: rgba(19, 19, 31, 0.7);
    --input-fields-color: rgba(165, 170, 169, 0.08);

    --primary-text-color: #E0E0E0;
    --muted-text-color: #A5AAA9;
    --muted-labels-color: rgba(165, 170, 169, 0.5);
    --border-color: rgba(165, 170, 169, 0.2);
}
